<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ideanity.shariar99.antitheftapp">


    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/antithefthome"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity android:name="ideanity.shariar99.antitheftapp.HomeActivity"/>
        <activity android:name="ideanity.shariar99.antitheftapp.SetPin"/>
        <activity android:name="ideanity.shariar99.antitheftapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ideanity.shariar99.antitheftapp.EnterPin"
            android:theme="@style/AppTheme" />
        <activity
            android:name="ideanity.shariar99.antitheftapp.ResetPin"
            android:theme="@style/AppTheme" />
        <activity
            android:name="ideanity.shariar99.antitheftapp.ForgotPin"
            android:theme="@style/AppTheme" />
        <service
            android:name="ideanity.shariar99.antitheftapp.PocketService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>